<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Datos del Paciente</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/pacientes"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div *ngIf="datosPaciente != null">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">
            <h6>Nombre y Apellido</h6>
            {{datosPaciente.name}} {{datosPaciente.apellido}}
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>
            <h3>Fecha de Alta</h3>
            {{datosPaciente.fechaAlta | date:'dd/MM/yyyy' }}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label
            ><h3>Dni</h3>
            {{datosPaciente.nroDocumento}}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label
            ><h3>Fecha de Nacimiento</h3>
            {{datosPaciente.fechaNacimiento | date:'dd/MM/yyyy' }}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label
            ><h3>Edad</h3>
            {{datosPaciente.edad}}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="phone-portrait" slot="start"></ion-icon>
          <ion-label
            ><h3>Telefono</h3>
            {{datosPaciente.telefono}}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label
            ><h3>Tipo de documento</h3>
            {{datosPaciente.tipoDocumento}}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-icon name="locate" slot="start"></ion-icon>
          <ion-label>
            <h3>Lugar de Nacimiento</h3>
            {{datosPaciente.lugarDeNacimiento}}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="bandage" slot="start"></ion-icon>
          <ion-label>
            <h3>Incapacidad</h3>
            {{datosPaciente.incapacidad}}</ion-label
          >
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>
