<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Planillas Diarias</ion-title>
    <ion-buttons>
      <ion-menu-button slot="start"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-list-header>Planilla</ion-list-header> -->
    <!-- <img src="assets/img/aroLogo.png" alt="ARO Logo" /> -->

    <!--     <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Dni: {{datosPlanilla.medicacion}}</ion-label>
    </ion-item> -->

    <ion-title class="ion-padding"
      >Nombre Paciente:
      <!-- {{datosPlanilla.paciente}} --></ion-title
    >
    <ion-title class="ion-padding"
      >Nombre Enfermero:
      <!-- {{datosPlanilla.enfermero}} --></ion-title
    >
    <br />
    <ion-title
      >Fecha de Planilla:
      <!-- {{datosPlanilla.fechaPlanilla |
      date:'dd/MM/yyyy'}} --></ion-title
    >
    <ion-item>
      <ion-label
        >Medicacion:
        <!-- {{datosPlanilla.medicacion}} --></ion-label
      >
      <ion-checkbox slot="end" checked></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label
        >Curaciones
        <!-- {{datosPlanilla.curaciones}} --></ion-label
      >
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label
        >Actividad Fisica
        <!-- {{datosPlanilla.actividadFisica}} --></ion-label
      >
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label
        >Comida
        <!-- {{datosPlanilla.comidas}} --></ion-label
      >
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label
        >Cambio de Ropa
        <!-- {{datosPlanilla.ropa}} --></ion-label
      >
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label
        >Limpieza
        <!-- {{datosPlanilla.limpieza}} --></ion-label
      >
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"
        >Observación
        <!-- {{datosPlanilla.observacion}} --></ion-label
      >
      <ion-textarea placeholder="Escriba aquí"></ion-textarea>
    </ion-item>
    <section>
      <ion-button expand="block">Guardar Planilla</ion-button>
    </section>
  </ion-list>
</ion-content>
