<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Planillas Diarias</ion-title>
    <ion-buttons>
      <ion-menu-button slot="start"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-list-header>Planilla</ion-list-header> -->
    <img src="assets/img/aroLogo.png" alt="ARO Logo" />
    <ion-title class="ion-padding">Nombre: Maximiliano Ranquileo</ion-title>
    <br />
    <ion-title>Fecha de Planilla: 12/02/2021</ion-title>
    <ion-item>
      <ion-label>Medicacion</ion-label>
      <ion-checkbox slot="end" checked></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Curaciones</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Actividad Fisica</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Comida</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Cambio de Ropa</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Limpieza</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Observación</ion-label>
      <ion-textarea placeholder="Escriba aquí"></ion-textarea>
    </ion-item>
    <section>
      <ion-button expand="block">Guardar Planilla</ion-button>
    </section>
  </ion-list>
</ion-content>
