<ion-content [fullscreen]="true">
  <figure class="ion-text-center ion-padding">
    <img src="assets/img/logo.jfif" alt="ARO logo" />
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <ion-item lines="full">
      <ion-label position="floating">Usuario:</ion-label>
      <ion-input type="text" formControlName="username" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña: </ion-label>
      <ion-input
        type="password"
        formControlName="password"
        required
      ></ion-input>
    </ion-item>

    <ion-button
      expand="full"
      shape="round"
      color="primary"
      [disabled]="!loginForm.valid"
      type="submit"
      >Login</ion-button
    >
  </form>
</ion-content>
