<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Enfermeros</ion-title>
    <ion-buttons>
      <ion-menu-button slot="start"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Lista de Enfermeros</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <ion-list>
        <ion-list-header> Enfermeros Activos </ion-list-header>

        <ion-item *ngFor="let resultado of contenidoArray">
          <ion-item>
            <!-- <ion-avatar slot="start">
              <img src="./avatar-finn.png" />
            </ion-avatar> -->
            <ion-label>
              <h2>{{resultado.apellido}}</h2>
              <h3>{{resultado.nombre}}</h3>
            </ion-label>
            <br />
            <!-- <ion-button color="secondary">Generar Planilla</ion-button> -->
          </ion-item>
          <ion-button
            class="ion-text-right"
            (click)="obtieneEnfermero(resultado.$$instanceId)"
            color="secondary"
            slot="end"
            >Datos del Enfermero</ion-button
          >
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-app>
</ion-content>
