<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Nueva Planilla</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/planillas"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="planillaForm" (ngSubmit)="submit()">
      <ion-card style="background-color: rgb(170, 196, 245)">
        <ion-card-header style="text-align: center">
          <ion-card-title
            style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
          >
            {{datosPlanilla.paciente.title}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card style="background-color: rgb(170, 196, 245)">
        <ion-card-header style="text-align: center">
          <ion-card-title
            style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
          >
            {{datosPlanilla.enfermero.title}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-icon name="medkit" slot="start"></ion-icon>
          <ion-label>Ingresar fecha</ion-label>
          <ion-datetime
            value="03-06-2021"
            formControlName="fechaPlanilla"
            displayFormat="DD/MM/YYYY"
            pikerFormat="YYYY MM DD"
            placeholder="Seleccione Fecha"
            cancelText="Cancelar"
            doneText="OK"
          ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-icon name="medkit" slot="start"></ion-icon>
          <ion-label>Se dio Medicación</ion-label>
          <ion-select interface="popover" formControlName="medicacion">
            <ion-select-option>Si</ion-select-option>
            <ion-select-option>No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="medkit" slot="start"></ion-icon>
          <ion-label>Se realizo limpieza</ion-label>
          <ion-select interface="popover" formControlName="limpieza">
            <ion-select-option>Si</ion-select-option>
            <ion-select-option>No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="medkit" slot="start"></ion-icon>
          <ion-label>Lavado de Ropa</ion-label>
          <ion-select interface="popover" formControlName="ropa">
            <ion-select-option>Si</ion-select-option>
            <ion-select-option>No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="medkit" slot="start"></ion-icon>
          <ion-label>Comida Servida</ion-label>
          <ion-select interface="popover" formControlName="comidas">
            <ion-select-option>Desayuno</ion-select-option>
            <ion-select-option>Almuerzo</ion-select-option>
            <ion-select-option>Merienda</ion-select-option>
            <ion-select-option>Cena</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="medkit" slot="start"></ion-icon>
          <ion-label>Turno</ion-label>
          <ion-select interface="popover" formControlName="turno">
            <ion-select-option>Mañana</ion-select-option>
            <ion-select-option>Tarde</ion-select-option>
            <ion-select-option>Noche</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="medkit" slot="start"></ion-icon>
          <ion-label>Se realizo curaciones</ion-label>
          <ion-select interface="popover" formControlName="curaciones">
            <ion-select-option>Si</ion-select-option>
            <ion-select-option>No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="medkit" slot="start"></ion-icon>
          <ion-label>Se realizó actividad fisica</ion-label>
          <ion-select interface="popover" formControlName="actividadFisica">
            <ion-select-option>Si</ion-select-option>
            <ion-select-option>No</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-icon name="medkit" slot="start"></ion-icon>
          Observaciones: &nbsp;
          <ion-input type="text" formControlName="observacion"></ion-input>
        </ion-item>
      </ion-card>

      <ion-button
        type="submit"
        expand="block"
        style="background-color: rgb(170, 196, 245)"
      >
        Guardar
      </ion-button>
    </form>
  </div>
</ion-content>
