<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Datos del Enfermero</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/enfermeros"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div *ngIf="datosEnfermero != null">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center"
            ><h6>Nombre y Apellido</h6>
            {{datosEnfermero.nombre}} {{datosEnfermero.apellido}}
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label
            ><h3>Fecha de Alta</h3>
            {{datosEnfermero.fechaAlta | date:'dd/MM/yyyy' }}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label
            ><h3>Dni</h3>
            {{datosEnfermero.nroDocumento}}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label
            ><h3>Fecha de Nacimiento</h3>
            {{datosEnfermero.fechaNacimiento | date:'dd/MM/yyyy' }}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label
            ><h3>Edad</h3>
            {{datosEnfermero.edad}}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="phone-portrait" slot="start"></ion-icon>
          <ion-label
            ><h3>Telefono</h3>
            {{datosEnfermero.telefono}}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label
            ><h3>Tipo de documento</h3>
            {{datosEnfermero.tipoDocumento}}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="locate" slot="start"></ion-icon>
          <ion-label
            ><h3>Lugar de Nacimiento</h3>
            {{datosEnfermero.lugarNacimiento}}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>
            <h3>Nro Matricula</h3>
            {{datosEnfermero.nroMatricula}}</ion-label
          >
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>
