<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Planillas</ion-title>
    <ion-buttons>
      <ion-menu-button slot="start"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Listado de Planillas</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <h4 class="ion-padding">Turno Mañana</h4>
      <div *ngFor="let resultado of contenidoArray">
        <ion-item *ngIf="resultado.turno === 'Mañana'">
          <ion-label>
            <h2>{{resultado.paciente.title}}</h2>
          </ion-label>
          <ion-button
            (click)="obtienePlanilla(resultado.$$instanceId)"
            color="secondary"
            slot="end"
            >Detalle</ion-button
          >
          <ion-button
            (click)="crearPlanilla(resultado.$$instanceId)"
            color="secondary"
            >Crear</ion-button
          >
        </ion-item>
      </div>
      <h4 class="ion-padding">Turno Tarde</h4>
      <div *ngFor="let resultado of contenidoArray">
        <ion-item *ngIf="resultado.turno === 'Tarde'">
          <ion-label>
            <h2>{{resultado.paciente.title}}</h2>
          </ion-label>
          <ion-button
            (click)="obtienePlanilla(resultado.$$instanceId)"
            color="secondary"
            slot="end"
            >Detalle</ion-button
          >
          <ion-button
            (click)="crearPlanilla(resultado.$$instanceId)"
            color="secondary"
            >Crear</ion-button
          >
        </ion-item>
      </div>
      <h4 class="ion-padding">Turno Noche</h4>
      <div *ngFor="let resultado of contenidoArray">
        <ion-item *ngIf="resultado.turno === 'Noche'">
          <ion-label>
            <h2>{{resultado.paciente.title}}</h2>
          </ion-label>
          <ion-button
            (click)="obtienePlanilla(resultado.$$instanceId)"
            color="secondary"
            slot="end"
            >Detalle</ion-button
          >
          <ion-button
            (click)="crearPlanilla(resultado.$$instanceId)"
            color="secondary"
            >Crear</ion-button
          >
        </ion-item>
      </div>
    </ion-content>
  </ion-app>
</ion-content>
